<div class="container">
  <%= link_to 'back to profile', sub_user_path(@sub_user) %>
  <div class="question-title-card">
    <h2><%= @question[0].title.first %></h2>
  </div>
  <div class="video-container">

  </div>
</div>
