<div class="container">
  <%= link_to 'Back to profile', sub_user_path(@sub_user) %>
  <div class="questions-index-title">
    <h2>Your generated questions....</h2>
    <h5>View all your questions here, click on one to record or return to your profile and answer them later</h5>
  </div>
    <div class="generated-questions-all-cards">
    <ul>
      <% video_not_attached = @questions.reject { |question| question.video.attached?} %>
      <% if video_not_attached.empty? %>
        <h3>You have answered all the questions.</h3>
      <% else %>
        <% video_not_attached.each_with_index do |question, index| %>
        <div class="generated-questions-card">
          <% title = "#{index + 1}. #{question.title}" %>
          <%= link_to( title, sub_user_question_path(@sub_user, question)) %>
        </div>
      <% end %>

      <% end %>
    </ul>
    </div>

</div>
