// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-green-lc: #2f3e45;
$medium-green-lc: #52796f;
$hover-dark-green-lc:#485963;
$light-background-green-lc: #CAD2C5;
