
.About-us-title {
  justify-content:space-between;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 50px;
}
.about-us-all-answers{
    text-align: center;
    align-items: center;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 50px;
    justify-content: space-around;

  }
  .about-answers-one {
    box-shadow: 50px;
    // margin-left: 200px;
    // margin-right: 200px;
    background-color: seashell;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;

}
.about-answers-five {
  background-color: seashell;
  border-radius: 10px;
  box-shadow: 50px;

}
.life-capture-inspirational {
    font-style: italic;
    font-style: serif;
    font-style: bold;
    border-radius: 10px;
    box-shadow: 30px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;

}
