.sub-users-card{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 90px;
}

// .sub-users{
//   margin: 20px;
//   color: black;
//   display: flex;
//   flex-direction: column;
//   padding: 1px;
//   width: 220px;
//   height: 220px;
//   flex-shrink: 0;
//   border-radius: 15px;
//   box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
// }

.sub-users-icon:hover {
  border: red;
  transition: background-color 0.5s ease;
}

.sub-user-icon{
  height: 160px;
  width: 180px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  margin: 15px;
}

a:link {
  text-decoration: none;
}

.sub-user-name {
  display: flex;
  justify-content: center;
  font-family: gill sans;
  font-weight: 700;
  color: white;
  background-color: #2B326F;
  padding: 10px 20px;
  border-radius: 40px;
  border: 0px;
  margin: 10px 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.new-user-name{
  display: flex;
  justify-content: center;
  font-family: gill sans;
  font-weight: 700;
  color: white;
  background-color: #2B326F;
  padding: 10px 20px;
  border-radius: 40px;
  border: 0px;
  margin: 10px 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
