.sub-users-card{
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.sub-users{
  margin: 20px;
  color: green;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 150px;
  height: 150px;
  padding: 10px;
}
