

.faq-header {
 text-align: center;

.fAQ_Title {
// text-align: center;
// justify-content: center;
}

.faq_search_bar{
text-align: center;
justify-content: center;

}
.select-clicked {
border: 2px #26489a solid;
box-shadow: 0 0 0.8 #26489a;
}
select:hover {
background: #323741;
}
.caret {
  // transform: translateY(-50%);
  // // width: 0;
  // // height: 0;
   border-left:5px solid transparent ;
   border-right: 5px solid transparent ;
   border-top: 6px solid #fff;
   transition: 0.3s;
  // display: flex;
  //  justify-content:flex-end;
  // align-items:normal;
}
.caret-rotate {
transform: rotate(180deg);
}
.menu {
list-style: none;
padding: 0.2em 0.5em;
background: white;
border: 1px #363a43 solid;
box-shadow: 0 0.5em 1em rgba (0,0,0,0.2);
border-radius: 0.5em;
color: black;
margin-bottom: 15px;
// position: absolute;
// top: 3em;

// left: 50%;
width: 100%;
// transform: translatey(10%);
transition: 1.5s;
// z-index: 1;
}

.menu li{
  padding: 0.7em 0.5em;
  margin: 0.3 0;
  border-radius: 0.5
  // cursor: pointer;
}
.menu li:hover{
background: lightgrey;
}

.active {
  // background: #23242a;
}
.menu-open {
display: block;
opacity: 1;
}
.faq_search_bar {

    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .search-button {
border-radius: 20px;
  }

  // .placeholder {
  //   text-align: center;
  //   justify-content: center;

  // }

 .fAQ_Title {
  text-align: center;
  justify-content: center;
}
  .FAQsubmit {
  // justify-content: center;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // // border-radius: 50px;
  // padding: 1em;
  }

  .faq_search_bar{
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1em;
}


.faq-card{
  background-color: antiquewhite;
}
