
.photo-button {
  display: inline-block;
    background-color: blue;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 206px;
    height: 39px;
    position: absolute;
    top: 178px;
    left: 649px;

}

.custom-file-input {
  border: 1px solid #ccc;
  padding: 8px;
}
