.generated-questions-card{
  background-color: whitesmoke;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}

.generated-questions-card a {
  text-decoration: none;
  color: black;
}

.generated-questions-all-cards{
margin-left: -40px;
}

.questions-index-title{
  margin-top: 15px;
  margin-bottom: 25px;
}

.generated-questions-card-text{
  color: black;
}
