.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.record-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 2/1;
  background: black;
}


.video-btn {
  border: none;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 60px);
  background-color: red;
}

.save-btn {
  border: none;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #33cc33;
}

.rerec-btn {
  border: none;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ff6666;
}

.video-btns {
  position: relative;
  bottom: 220px;
  z-index: 3;
  width: 300px;
  display: flex;
  left: calc(50% - 150px);
  justify-content: space-between;
}

.question-title-card {
  background: #2F3E46;
  padding: 10px 10px;
  margin-bottom: 24px;
  border-radius: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  width: 85%;
  align-items: center;
}

.videos-container {
  width: 100%;
  background-color: #52796f;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.rerecord-video{
  background-color: #52796f;
  color: black;
}

.video-container{
  position: relative;
  width: 1100px;
  height: 550px;
}

.record-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.recording-now-alert{
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
  color: white;
  border: none;
  aspect-ratio: 1;
  position: absolute;
  top: 50px;
  left: calc(50% - 330px);
}

.red{
  background: red;
}

.circle {
  animation: pulse-animation 2s infinite;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #f119197e;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(205, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(234, 7, 7, 0);
  }
}
