.show-container {
  border-radius: 20px;
  background-color: #f7f7f7;
  margin: 24px 0;
  padding: 24px;
}

.header-name h1{
  font-family: EB Garamond;
  color: #5D6986, 80%;
}

.btn.btn-secondary{
  background-color: #2B326F;
  border-radius: 20px;
  height: 35px;
}

.top-section-show {
  display: flex;
  justify-content: space-between;
}

.btn-charcol {
  background-color: #2B326F;
  border-radius: 20px;
  padding: 23px 16px;
  width: 30%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: dm serif design;
}

.plus-icon-bg {
  font-size: 47px;
  margin: 0;
  background: #DCDDE4;
  height: 66px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
}

.plus-icon {
  align-self: center;
  text-align: center;
  justify-items: center;
  margin: 0 auto;
}

.videos-container {
  background-color: #DCDDE4;
  border-radius: 20px;
  width: 100%;
  margin-top: 16px;
  padding: 24px;
}


.video-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.video-card {
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.2);
  padding: 16px;
}

.video-card-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.video-card-box {
  margin: 16px 0;
}

.video-card-title {
  height: 85px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.btn-show-page{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 140px;
  opacity: 0.9;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}
