.show-container {
  border-radius: 20px;
  background-color: #f7f7f7;
  margin: 20px 0;
  padding: 24px;
  min-height: 100vh;
}

.header-name h1{
  font-family: EB Garamond;
  color: #2f3e46, 80%;
}

.btn.btn-secondary{
  background-color: #2f3e46;
  border-radius: 20px;
  height: 35px;
}
.header-name {
  display: flex;
  align-items: center;
  margin: 24px 0;
  width: 100%;
  justify-content: space-between;
}
.top-section-show {
  display: flex;
  justify-content: space-between;
}

.btn-charcol {
  background-color: #2f3e2f;
  border-radius: 20px;
  padding: 23px 16px;
  width: 30%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: dm serif design;
}

.plus-icon-bg {
  font-size: 47px;
  margin: 0;
  background: #DCDDE4;
  height: 66px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
}

.plus-icon {
  align-self: center;
  text-align: center;
  justify-items: center;
  margin: 0 auto;
}

.videos-container {
  background-color: #52796F;
  border-radius: 20px;
  width: 100%;
  margin-top: 16px;
  padding: 24px;
  height:100%
}


.video-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  background-color: #52796F;
}

.video-card {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #CAD2C5;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.2);
  padding: 16px;
  font-family: dm serif display;
}

.video-card-date {
  display: flex;
  justify-content: flex-end;
}

.video-card-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.video-card-thumbnail {
  width: 100%;
}

.video-card-box {
  position: relative;

}

.video-card-title {
  height: 98px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: black;
  margin-top: 16px;
}
.video-card-title h4 {
  font-size: 20px !important;
  font-family: dm serif display;
}

.btn-show-page{
  background-color: #2f3e46;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 140px;
  opacity: 0.9;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}


.burger-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  aspect-ratio: 1;
  border: none;
  color: white;
  padding-top: 10px;
  background-color: #2f3e46;
  padding-left: 33px;
}

.dropdown-menu-border {
  padding: 16px;
  border: none;
}
.dropdown-menu-border li {
  padding: 8px 0;
  border-bottom: 1px solid #DCDDE4;
}

.dropdown-i {
  color: #52796F;
}

.burger-dropdown-showpage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  aspect-ratio: 1;
  border: none;
  color: black;
  margin-left: 0px;
  border-radius: 5px;
}

.showpage-record-button{
height: 45px;
}

.showpage-container{
  width: 100%;
  height: 100%;
  border: #52796F 2px solid;
  background-color: #52796F;
  margin-bottom: 50px;
  position: relative;
  border-radius: 20px;
  margin-top: 16px;
  padding: 24px;
  color: white;
}


.trash-can-show{
color: red;
background-color: red;
}
