.sub-user-selection-btn{
  background-color: #2B326F;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-family: DM Serif Display;
  font-size: 36px;
  height: 120px;
  width: 200px;
  margin: 15px; /* Adjust for spacing between buttons */
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.buttons{
  display: flex;
  justify-content: center;
}
