.sub-user-selection-btn{
  background-color: #2f3e46;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-family: Public Sans;
  font-size: 30px;
  height: 120px;
  width: 235px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
}

.sub-user-selection-wordbox{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
