<div class="footer">
  <div class="container d-flex justify-content-between">

<div class ='footer-box'>
  <ul class="footer-list">
    <li><i class="fa-brands fa-instagram"></i></li>
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-twitter"></i></li>
    <li><i class="fa-brands fa-linkedin"></i></li>
  </ul >

<<<<<<< HEAD
  <div class="footer-us">
    <ul class= "about-us">
      <li>  About us</li>
  </ul>
  </div>

  <div class="FAQs-div">

    <p>FAQs</p>

  </div>



</div>

=======
    <ul class="footer-list">
     <i class="fa-brands fa-instagram"></i> <li>Instagram</li>
     <i class="fa-brands fa-facebook"></i> <li>Facebook</li>
     <%# <li><%= image_tag 'small_logo_white.png' alt: 'Small Logo' width :100px %> About us</li>
    <li>FAQs</li>
    </ul>
>>>>>>> 92428d8fde67710cd29c6a3078b0f3f88dced31c
    <div class="footer-logo-tagline">
      <p>Store your memories, Preserve your legacy.</p>
      <%= image_tag ("small_logo_white.png"), class: "footer-image"%>
    </div>
  </div>
</div>
