<div class="footer">
  <div class="container d-flex justify-content-between">


    <ul class="footer-list">
     <i class="fa-brands fa-instagram"></i> <li>Instagram</li>
     <i class="fa-brands fa-facebook"></i> <li>Facebook</li>
     <%# <li><%= image_tag 'small_logo_white.png' alt: 'Small Logo' width :100px %> About us</li>
    <li>FAQs</li>
    </ul>
    <div class="footer-logo-tagline">
      <p>Store your memories, Preserve your legacy.</p>
      <%= image_tag ("small_logo_white.png"), class: "footer-image"%>
    </div>
  </div>
</div>
