<div class="footer">
  <div class="container d-flex justify-content-between">

<div class ='footer-box'>
  <ul class="footer-list">
    <li><i class="fa-brands fa-instagram"></i></li>
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-twitter"></i></li>
    <li><i class="fa-brands fa-linkedin"></i></li>
  </ul >
 <%= image_tag ("line.png"), class: "footer-image"%>

  <div class="footer-us">
    <ul class= "about-us">
      <li>  About us</li>
  </ul>
  </div>

  <div class="FAQs-div">

    <p>FAQs</p>
</div>


  </div>
    <div class="footer-logo-tagline">
      <p>Store your memories, Preserve your legacy.</p>
      <%= image_tag ("small_logo_white.png"), class: "footer-image"%>
    </div>
</div>
