<div class="footer">
  <div class="container d-flex justify-content-between">

  <div class ='footer-box'>
    <ul class="footer-list">
      <%# <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-twitter"></i></li>
      <li><i class="fa-brands fa-linkedin"></i></li> %>
          <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </ul >

    <div class="footer-us">
      <ul class= "about-us">
        <%=link_to "About us", about_path%>
    </ul>
    </div>

    <div class="FAQs-div">
      <ul class= "FAQ">

      <%=link_to "FAQ", faq_path%>
      </ul>

    </div>
  </div>
    <div class="footer-logo-tagline">
      <p class="mb-0">Store your memories, Preserve your legacy.</p>
      <%= image_tag ("small_logo_white.png"), class: "footer-image"%>
    </div>
  </div>
</div>
