<div class="footer">
  <div class="container d-flex justify-content-between">


    <ul class="footer-list">
    <li>Instagram</li>
    <li>Facebook</li>
    <li>About us</li>
    <li>FAQs</li>
    </ul>


    <div class="footer-logo-tagline">
      <p>Store your memories, Preserve your legacy.</p>
      <%= image_tag ("small_logo.png"), class: "footer-image"%>
    </div>
  </div>
</div>
