<div class="fAQ_Title">
   <h1>FAQ</h1>
</div>

<div class="faq_search_bar">
  <form action="/search" method="get">
    <input type="text" name="q" placeholder="Search...">
    <button type="FAQsubmit">Search</button>
  </form>
</div>

<div class="FAQ_questions">
  <div class = "all-faqs">
    <div class = "faq-card">
      Why use life capture?
    </div>
    <li> Make the most of your life capture </li>
    <li>Help with recording videos</li>
    <li>Trouble shooting</li>
    <li>Privacy </li>
  </div>
</div>
