<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "banner_image.jpg" %>);">
  <div class="container mb-5">
    <h1 style="font-family: gill sans; font-weight: 700; color: white; text-shadow: 1px 1px rgba(0,0,0,0.2)">Store Your Memories,</h1>
    <h1 style="font-family: gill sans; font-weight: 700; color: white; text-shadow: 1px 1px rgba(0,0,0,0.2)">Preserve Your Legacy.</h1>
    <h3 style="font-family: EB Garamond; color: white; text-shadow: 1px 1px rgba(0,0,0,0.2)">Remember people in their words and in their voice</h3>
<!-- fix link to
--> <div class="Top button d-flex">
<% if user_signed_in? %>
        <%= link_to dashboard_path, class: "d-inline-block mb-4 mt-3" do %>
            <p class='btn-brown' style="font-family: gill sans; font-weight: 700; color:white">Go to your Dashboard</p>
          <% end %>
<% else %>
        <%= link_to new_user_registration_path, class: "d-inline-block mb-4 mt-3" do %>
            <p class='btn-brown' style="font-family: gill sans; font-weight: 700; color:white">Get started</p>
          <% end %>
<% end %>
     </div>
    <i class="arrow down"></i>
  </div>
</div>
<div class="section top-section">
  <div class="container pt-5">
    <h2 style="font-family: gill sans; font-weight: 700; color: white" class=text-center>HOW IT WORKS</h2>
    <div class="top-section-card-container">
      <div class="top-section-card">
        <div class="number-icon">1</div>
        <p style="font-family: EB Garamond; color: white; font-size: 1.5vw">Sign up for yourself or someone else</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">2</div>
        <p style="font-family: EB Garamond; color: white; font-size: 1.5vw">Answer some questions about your relative's life</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">3</div>
        <p style="font-family: EB Garamond; color: white; font-size: 1.5vw">Record your video answers on Life Capture</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">4</div>
        <p style="font-family: EB Garamond; color: white; font-size: 1.5vw">Store your memories and share with loved ones</p>
      </div>
    </div>
  </div>
</div>
<div class="section middle-section">
  <div class="container pt-5">
    <h2 class= "text-center mb-5"style = "font-family: gill sans; font-weight: 700; color: black">WHY CHOOSE LIFE CAPTURE</h2>
    <p class= "text-center mb-5" style="font-family: EB Garamond; color: black; font-size: 1.5vw" > Have a safe place to store your memories forever</p>
    <p class= "text-center mb-5" style="font-family: EB Garamond; color: black; font-size: 1.5vw" > Pass down your stories, in your own words, for generations to come</p>
    <p class= "text-center mb-5" style="font-family: EB Garamond; color: black; font-size: 1.5vw" > Reminisce on your favourite times</p>
  </div>
</div>
<div class="container">
<hr>
</div>
<div class="section bottom-section">
  <div class="container pt-5">
    <h4 class= "text-center" style="font-family: EB Garamond; color: black; font-size: 1.5vw" > <i>"Getting my grandma to record her stories from her childhood </i></h4>
    <h4 class= "text-center mb-5" style="font-family: EB Garamond; color: black; font-size: 1.5vw"> <i> and life was so valuable - I wish I could do it for all my relatives!"</i></h4>
    <h4 class= "text-center mb-3" style="font-family: EB Garamond; color: black; font-size: 1.5vw">- Sergio Ramos, Spain</h4>
    <div class="Button bottom d-flex justify-content-center">
       <%= link_to new_user_registration_path, class: "d-inline-block mb-5 mt-3" do %>
            <p class='btn-brown' style="font-family: gill sans; font-weight: 700; color:white" >Get Started</p>
          <% end %>
      </div>
  </div>
</div>
