<div class="banner">
  <div class="container">
    <h1>Store your memories,</h1>
    <h1>Preserve your legacy.</h1>
    <h3>Remember people in their words and in their voice</h3>
<!-- fix link to
-->
  <p class="btn-brown-nav">Get Started</p>
    <i class="arrow down"></i>
  </div>
</div>
<div class="section top-section">
  <div class="container" style="margin-top: 30px">
    <h2>How it works</h2>
    <div class="top-section-card-container">
      <div class="top-section-card">
        <div class="number-icon">1</div>
        <p>Sign up for yourself or someone else</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">2</div>
        <p>Answer some questions about your relative's life</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">3</div>
        <p>Record your video answers on Life Capture</p>
      </div>
      <div class="top-section-card">
        <div class="number-icon">4</div>
        <p>Store your memories and share with loved ones</p>
      </div>
    </div>
  </div>
</div>
<div class="section middle-section">
  <div class="container">
    <h2 style = "color:black">Why choose Life Capture</h2>
    <p> Have a safe place to store your memories forever</p>
    <p> Pass down your stories, in your own words, for generations to come</p>
    <p> Reminisce on your favourite times</p>
  </div>
</div>
<div class="section bottom-section">
  <div class="container">
    <h4>"Getting my grandma to record her stories from her childhood</h4>
    <h4>and life was so valuable - I wish I could do it for all my relatives!" - Sergio Ramos, Spain</h4>
        <p class="btn-brown-nav" style="">Get Started</p>
  </div>
</div>
