
<div class="container">
  <div class="sub-user-selection-box">
    <h2>Who will be recording the stories?</h2>

    <%= link_to 'Me', new_sub_user_path, class:"sub-user-selection-btn"%>
    <%= link_to 'Someone else', others_new_path,class: "sub-user-selection-btn"%>
  </div>
</div>
