
<div class="container">
  <div class="sub-user-selection-box">
    <h1 style="font-family: EB Garamond">Are you signing up for yourself, or on behalf of someone else?</h1>
    <hr>
    <div class="buttons">
      <%= link_to 'For myself', new_sub_user_path, class:"sub-user-selection-btn"%>
      <%= link_to 'Someone else', others_new_path,class: "sub-user-selection-btn"%>
      </div>
    </div>
  </div>
</div>
