.footer {
  background-color: #2f3e46;
  margin-top: auto;
  color: white;
  padding: 22px 0;
}



.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.footer-list li {
  list-style: none;
  display: inline-flex;
  padding: 7px;
  padding-left: 0;

}
.footer-list i {
  color: #F5F5F5;
}

.footer-list i:hover {
  color: #485963;

}

.footer-us li, .FAQs-div li {
  text-align: left;
  display: block;
  list-style: none;
}

.footer-us li:hover, .FAQs-div p:hover {
  color: #485963;
}

.footer-logo-tagline {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-image {
  height: 100px;
  margin-left: 24px;
}

.FAQs-div a{
  font-family: Public Sans;
  color: whitesmoke;
}

.about-us a{
  font-family: Public Sans;
  color: whitesmoke;
}

.footer-logo-tagline p{
  font-family: Public Sans;
  font-size: 18px;
}
