.footer {
  background-color: #2B326F;
  background-image: url('../../images/Lava.png');
  margin-top: auto;
  color: white;
  padding:20px 0;
}

.footer-logo-tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0px;
}

.footer-list {
  list-style: none;
  margin: 16px 0px;
}

.footer-list  {
  i:hover { color: #424b61;
  }
}

.footer-image {
  height: 100px;
  margin-left: 24px;
}
