.footer {
  background-color: #2B326F;
  background-image: url('../../images/Lava.png');
  margin-top: auto;
  color: white;
  padding:20px 0;
}

.footer-logo-tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0px;
}

.footer-list li  {
  list-style: none;
  display:inline-flex;
  // margin: 5px 0px;
  padding: 7px;
  padding-left:0;
  text-align: left;
  // text-indent: 0px;

<<<<<<< HEAD
  i:hover {

    color: #424b61;
  }
}
.footer-us li {
  text-align: left;
  position: left;
  display: inline-flex;

}
=======
.footer-list  {
  i:hover { color: #424b61;
  }
}

>>>>>>> 92428d8fde67710cd29c6a3078b0f3f88dced31c
.footer-image {
  height: 100px;
  margin-left: 24px;
}
.about-us {
  :hover {

    color: #424b61;
  }
}
.footer-box{
  display: flex;
  flex-direction: column;
}


  .FAQs-div {

  margin-left:30px;

 :hover {

    color: #424b61;
}
}
