.modal-content {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}
.modal-body {

i:hover{
  background-color: grey;
  border-radius: 20px;
}
}

.modal-footer {
justify-content: center;

.btn-primary{
border-radius: 20px;
  }
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 200px;
  top: 25px;

}
.share-page-popup{
  #staticBackdropLabel {
    justify-content: center;
  }
}

.pill-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
    top: 54px;
    left: 383px;

  &:hover {
    background-color: grey;
  }
}


.btn-close{
  position: absolute;
  top: 12px;
  left: 463px;
}

.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #52796F;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 81px;
  left: 43px
}


.custom-button i {
  margin-right: 8px;
}

.custom-button:hover {
  background-color: #52796F;
}
