.navbar {
  justify-content: space-between;
  background: clear;
  position: relative;
}

.navbar-container {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.navbar-container i {
  color: #2B326F;
  font-size: 24px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
  background-color: rgb(238, 238, 238);
  &:link {
    text-decoration: none;
  }
  position: relative;
}

.navbar p {
  font-weight: 700;
}
.btn-brown {
  background-color: #2B326F;
  color:white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
  margin-left: 16px;

  p {
    font-weight: 700;
    color: black;
    opacity: 1;
  }
  display: inline;

  &:hover {
  background-color: #363c72d7;
    color: rgba(220, 221, 237, 0.816) ; /* Change the text color on hover */

}

}

.area-btn {
  color: rgb(0, 0, 0);
  margin: 16px 32px;
}

.btn-grey {
  display: inline;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 50%;
  top: 9px;
  background-color: #2B326F ;
  border-radius: 40px;
  font-weight: 600;
  font-size: 24px;
  right: calc(50% - 65.504px);
  p {
    font-size: 20px;
    margin: 0;
  }

}

.avatar-icon {
  font-size: 20px;
  color: white;
}

.homepage-buttons{
  margin-right: 100px;
}

.sign-container{
  margin-right: 40px;
  a {
    text-decoration: none;
  }
}
