.modal-header-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
}

.btn-close-video{
  position: absolute;
  top: 8px;
  right: 11px;
  font-size: 24px;
}

.modal-content-video {
  padding: 24px;
  border-radius: 20px;
}

.modal-footer-video {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.modal-video-btn {
  border-radius: 16px;
  background: #52796F;
  height: 56px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
