.header-new-subuser h1 {
  font-family: "EB Garamond";
  color: black;
}

.introduction h2 {
  font-family: "EB Garamond";
  color: black;
}

.introduction h5 {
  font-family: "EB Garamond";
  color: black;
}
