.showpage-container h2{
  font-family: dm serif display;
}


.showpage-container h5{
  font-family: dm serif display;
}

.showpage-container h4{
  font-family: dm serif display;
}

.generated-questions-card {
  font-family: ED Garamond;
}
